asgiref==3.5.2
beautifulsoup4==4.11.1
brotlipy==0.7.0
certifi==2022.6.15
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.4
conda==4.13.0
conda-build==3.21.9
conda-package-handling==1.8.1
cryptography==37.0.1
Django==4.0.6
filelock==3.6.0
glob2==0.7
idna==3.3
Jinja2==2.11.3
libarchive-c==2.9
MarkupSafe==2.0.1
pip==22.1.2
pkginfo==1.8.2
psutil==5.9.0
pycosat==0.6.3
pycparser==2.21
pyOpenSSL==22.0.0
PySocks==1.7.1
pytz==2022.1
PyYAML==6.0
requests==2.28.0
ruamel-yaml-conda==0.15.100
setuptools==61.2.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tqdm==4.64.0
urllib3==1.26.9
wheel==0.37.1
